@import "../../style.scss";

.gridContainer {
  padding: 0 7vw;
  overflow: auto;
  box-sizing: border-box;
  justify-content: center;
  align-content: center;
  align-items: end;
  grid-auto-rows: auto;
  flex: 1;
  display: flex;
  align-items: center;
  .maingroundgrid {
    height: 100%;
    grid-auto-flow: dense;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(calc(80px + 2vw), 1fr));
    grid-gap: 20px;
    .nametag {
      line-height: 20px;
      width: 100%;
      word-wrap: break-word;
      font-size: $font-size/6;
      font-stretch: 100%;
      text-align: center;
      word-wrap: normal;
    }
    @supports (font-variation-settings: "wdth"115) {
      .nametag {
        font-family: Voto;
        font-variation-settings: "wdth"400;
      }
    }
  }
}
