@import '../../style.scss';

.gridContainer {
  padding: 0 7vw;
  overflow: auto;
  box-sizing: border-box;
  flex: 1;
  display: flex;
  .maingroundgrid {
    height: 100%;
    grid-auto-flow: dense;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(calc(80px + 2vw), 1fr));
    grid-gap: 20px;
    justify-content: center;
    align-items: flex-end;
    .nametag {
      line-height: 20px;
      width: 100%;
      word-wrap: break-word;
      font-size: $font-size/6;
      font-stretch: 100%;
      text-align: center;
      word-wrap: normal;
      svg {
        overflow: visible;
      }
    }
    .card {
      max-width: 50px;
    }
    svg {
      fill: cadetblue;
      // -webkit-filter: drop-shadow(12px 12px 7px rgba(0, 0, 0, 0.5));
      // filter: drop-shadow(12px 12px 7px rgba(0, 0, 0, 0.5));
    }
    @supports (font-variation-settings: 'wdth' 115) {
      .nametag {
        font-family: Voto;
        font-variation-settings: 'wdth' 400;
      }
    }
  }
}
